@BEGIN_TEMPLATE@<div id="popup-detail-edit-window">
			@BEGIN_UOC_Accesso@<div class="detail-edit">
						<div id="splash">
							<h2>Chiusura cartella @tag_numero_cartella#FLAT@</h2>
						</div>
		
						@BLOCK_BEGIN_RESULT_ERROR@
							<div class="system-message-error">
								Si &egrave; verificato un errore: @ERROR_MESSAGE@
							</div>
						@BLOCK_END_RESULT_ERROR@
		
						@BLOCK_BEGIN_RESULT_EMPTY@
							<div class="system-message-error">
								Nessun elemento trovato.
							</div>
						@BLOCK_END_RESULT_EMPTY@
		
						<div class="form-container form-container-UOC_Accesso">
							<form id="popup-detail-edit" method="post" action="@ACTION@" @ajaxable="target=popup-detail-edit-window">
								<fieldset>
									<legend>Inserire data e motivazione chiusura</legend>
	
									
									<div class="detail-body">
										@tag_dataChiusura@@tag_motivazioneChiusura@</div>
									
		
									<input type="hidden" name="class" value="@CLASS@" />
									<input type="hidden" name="r" value="@REDIRECT@" />
									<input type="hidden" name="forced_post_save" id="popup_forced_post_save" value="@POST_SAVE@" />																	
								</fieldset>
							</form>
		
							<div class="detail-attachments">
								
							</div>
		
						</div>
					</div>@END_UOC_Accesso@
		</div>@END_TEMPLATE@